[Unit]
Description=Telegram Bot Service for ubuntu
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.8 /home/ubuntu/trader/TelegramBot.py
WorkingDirectory=/home/ubuntu/trader/
Environment=BINANCE_API_KEY=value
Environment=BINANCE_SECRET_KEY=value
Environment=TELEGRAM_TOKEN=value
Environment=TELEGRAM_CHAT_ID=value
Environment=COINBASE_API=value
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target